body
{
	background-color: rgb(43, 146, 160);
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.review
{
	background-color: #FF8141;
	margin: 20px;
	display: inline-block;
}

textarea
{
	background-color: #FF8141;
}
#formL1
{
	background-color: #FFB041;
	display: block;
	border: 1px black solid;
	height: 150px;
	width: 807px;

}


#name
{
	margin: 10px;
	float: left;
	height: 100px;
	width: 227px;

}


#gender
{
	float: left;
	margin: 10px 10px 10px 30px;
	height: 100px;
	width: 227px;
}


#level
{
	margin: 10px;
	float: left;
	height: 100px;
	width: 227px;
}

#generateButton
{	
	margin-left: 390px;
	background-color: #FF8141;
}